#aboutme-section {
    font-size: 19px;
}

.about-text {
  margin-left: 40px;
  position: relative;
}

.about-icon {
  font-size: 24px;
  position: absolute;
  left: -40px;
  margin-top: 2px;
}

#aboutme-section p:last-child {
  margin-bottom: 0;
}
